.me-ball {
  transition: .5s;
  cursor: pointer;
  position: fixed;
  bottom: 50%;
  left: 0;
  transform: translate(-50%, 0%);
  opacity: .5;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 1;
    left: 5px;
    transform: scale(1.2);
  }

  .cont {
    transition: 1s;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    .papper {
      transition: 1s;
      max-height: 20px;
      width: 0px;
      color: black;
      z-index: 2;
      background-color: #efdca0;
      padding: 0px 0px;
      font-family: 'Caveat', cursive;
      position: relative;
      font-size: 10px;

      .textcon {
        overflow: hidden;
        height: 40px;
        width: 100%;
      }

      p {
        width: 130px;
        overflow: hidden;
        line-height: 1.4em;
      }

      a {
        transition: 1s;
        color: rgb(153, 39, 39);
        text-decoration: none;

        &:hover {
          color: red;
        }
      }

      &::before {
        content: '';
        position: absolute;
        height: 110%;
        width: 3px;
        left: 0;
        top: 50%;
        transform: translate(0%, -50%);
        background-color: #ff6200;
        border-top: solid 1px gold;
        border-bottom: solid 1px gold;
      }

      &::after {
        content: '';
        position: absolute;
        height: 110%;
        width: 3px;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);
        background-color: #ff6200;
        border-top: solid 1px gold;
        border-bottom: solid 1px gold;
      }
    }
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
  }
}

.push {
  transform: rotate(360deg * 3);
  margin-left: 70px;
  max-height: 40px !important;
}