@use '../../../public/ScssMixins/BrackPoint' as*;
body {
  background-color: #dddddd28 !important;
}
.noScroll  {
  overflow: hidden !important;
}

.Home {
  overflow-y: hidden;
}



.trastedBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin: auto;
  max-width: 1200px;
  padding: 20px;
  justify-content: center;
  span {
    color: rgba(128, 128, 128, 0.664);
    font-weight: 600;
    font-size: 18px;
  }
}

.grayBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 100000;
  visibility: visible;
}

@include breakPoint(mobile) {
  .hiddneMH {
    display: none !important;
  }
}