@use '../../../public/ScssMixins/BrackPoint' as*;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.section_1 {
  background-color: #1a1b1d;
  display: flex;
  align-items: center;
  justify-content: center;

  .contaner {
    max-width: 1200px;
    width: 100%;
    height: 680px !important;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    display: flex;

    .backgroundImgs {
      .hero {
        transition: opacity .9s;
        background-size: auto 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 680px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        .Names {
          position: absolute;
          bottom: 30px;
          right: 50px;
          color: white;
          font-size: 18px;
          font-weight: 600;

        }

        .star::before {
          content: url(../../../public/imgs/Logos/five_stars.e5c37f5.svg);
          top: -19px;
          position: absolute;
        }
      }

      .hero00 {
        background-image: url("../../../public/imgs/DisktopImgs/bg-hero-2-1792-x1.webp");
        background-color: #b64762;
      }

      .hero01 {
        background-image: url("../../../public/imgs/DisktopImgs/bg-hero-4-1792-x1.png");
        background-color: #023a15;
      }

      .hero02 {
        background-image: url("../../../public/imgs/DisktopImgs/bg-hero-6-1792-x1.webp");
        background-color: #1a1b1d;
      }
    }

    .landing {
      z-index: 10;
      color: white;
      max-width: 550px;

      h1 {
        font-size: 48px;
        line-height: 56px;
        padding-bottom: 24px;

        span {
          font-family: 'Dancing Script', cursive;
        }
      }

      .search {
        display: flex;
        justify-content: row;
        width: 100%;
        margin-bottom: 20px;

        .input {
          width: 100%;
          position: relative;

          svg {
            position: absolute;
            color: black;
            top: 50%;
            transform: translateY(-50%);
            padding-left: 25px;
          }

          input {
            width: 100%;
            height: 48px;
            border: none;
            outline: none;
            border-radius: 5px 0px 0px 5px;
            padding-left: 50px;
          }
        }

        button {
          width: 20%;
          border: none;
          outline: none;
          color: white;
          font-weight: 600;
          letter-spacing: 1.5px;
          font-size: 16px;
          background-color: #19a463;
          border-radius: 0px 5px 5px 0px;
        }
      }

      .Pop {
        display: flex;
        flex-direction: row;
        gap: 10px;

        span {
          border: 1px solid white;
          border-radius: 20px;
          padding: 0px 10px;
          cursor: pointer;
        }
      }
    }

  }
}

@mixin backgroundImgs($none) {
  .backgroundImgs {
    .hero {
      @if($none =="") {
        background-position: right !important;
      }

      height: 680px;
    }

    .hero00 {
      @if ($none =='none') {
        background-image: none !important;
        background-color: #1a1b1d !important;
      }

      @else {
        background-image: url("../../../public/imgs/TablitImgs/bg-hero-2-900-x1.webp") !important;
      }
    }

    .hero01 {
      @if ($none =='none') {
        background-image: none !important;
        background-color: #1a1b1d !important;
      }

      @else {
        background-image: url("../../../public/imgs/TablitImgs/bg-hero-4-900-x1.webp") !important;
      }

      ;
    }

    .hero02 {
      @if ($none =='none') {
        background-image: none !important;
        background-color: #1a1b1d !important;
      }

      @else {
        background-image: url("../../../public/imgs/TablitImgs/bg-hero-6-900-x1.webp") !important;
      }

      ;
    }

    ;
  }
}

@include breakPoint(medium) {
  @include backgroundImgs("")
}

@include breakPoint(small) {
  @include backgroundImgs("none")
}

@include breakPoint(mobile) {
  @include backgroundImgs("none");

  .backgroundImgs {
    display: none !important;
  }

  .section_1 {
    .contaner {
      justify-content: center !important;
    }
  }

  .landing {
    h1 {
      text-align: center;
      font-size: 32px !important;
      line-height: 40px !important;
    }

    .search {
      flex-direction: column !important;

      input {
        border-radius: 5px !important;
        width: 100% !important;
        margin-bottom: 10px !important;
      }

      button {
        height: 45px;
        border-radius: 5px !important;
        width: 100% !important;
      }

      svg {
        transform: translateY(-75%) !important;
      }
    }
  }

  .hiddenM {
    display: none !important;
  }
}