@use '../../../public/ScssMixins/BrackPoint' as*;
body {
  height: 1000vh;
  background-color: black;
}
$white: rgba(0, 0, 0, 0.712);
$main-Color: rgb(255, 255, 255);

.opacity {
  opacity: .5;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  

  &.show {
    transition: 0.5s;
    background-color: $main-Color;
    color: rgb(255, 255, 255) !important;
  }
  nav {
    width: 100%;
    transition: .5s;
  }
  
  .topNav {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .Burger {
        margin-right: 30px;
        width: 25px;
        cursor: pointer;

      }

      .logo {
        font-size: 35px;
  
      
        .text {
          color: white;
          font-weight: 600;
        }
  
        .dot {
          color: green;
        }
      }

    button {
      border: none;
      outline: none;
      background-color: transparent;
      font-weight: 600;
      cursor: pointer;
      font-size: larger;
      color: #000000bd;
    }
    }


    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      font-weight: 600;
      cursor: pointer;
      color: white;
      font-size: 19px;

      button {
        color: rgb(63, 187, 63);
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: 1px solid rgb(96, 179, 96);
        border-radius: 5px;
        width: 50px;
        height: 30px;
        font-size: 16px;
      }

      .icon {
        font-size: 15px;
        color: white;
        margin-right: 5px;
      }
    }

    .searchBar {
      display: flex;
      flex-direction: row;
      position: relative;


      input {
        width: 260px;
        height: 100%;
        font-size: 17px;
        outline: none;
        border: 1px solid #0000004d;
        padding: 8px;
      }

      .small {
        display: none;
      }

      .logo {
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        cursor: pointer;

        svg {
          color: white;
          font-size: 18px;
        }
      }
    }
  }
}


.show {
  .links {
    color: rgba(0, 0, 0, 0.596) !important;
    .icon {
      color: rgba(0, 0, 0, 0.596) !important;
    }
  }
  .logo {
    .text {
      color: rgb(0, 0, 0) !important;
    }
  }
}

@mixin hiddenL {
  .hiddenL {
    display: none !important;
  }
}

@mixin hiddenM {
  .hiddenM{
    display: none;
  }
}

@mixin hiddenS {
  .hiddenS {
    display: none !important;
  }
}

@mixin searchBar {
.searchBar {
    .large {
      display: none
    }

    .small {
      display: block !important;
      border-radius: 5px;
      width: 280px;
    }
  }
}

@mixin JoinM {
  .join_mobile {
    display: none !important;
  }
}

@include breakPoint(large) {
  @include hiddenL();
  @include JoinM();
  header {
    background-color: aqua;
  }
}

@include breakPoint(medium) {
  @include hiddenM();
  @include JoinM();
}

@include breakPoint(small) {
  @include hiddenM();
  @include hiddenS();
  @include searchBar();
  @include JoinM();
  header {
      background-color: green;
    }
}

@include breakPoint(mobile) {
  @include hiddenM();
  @include hiddenS();
  @include searchBar();
  header {
      background-color: yellow;
      .right-side {
        width: 100% !important;
      }
    }
  .hiddenMo {
    display: none !important;
  }
}