footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.253);
    top: 0;
  }

  .contaner {
    width: 100%;
    max-width: 1200px;
    padding: 60px 20px 0px 20px;
    overflow: hidden;
    margin: auto;
  }

  .top-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .catigory {
      margin: 20px 10px;

      .head {
        color: rgba(0, 0, 0, 0.801);
        margin-bottom: 15px;
        pointer-events: none;
      }

      .detals {
        color: rgba(0, 0, 0, 0.671);

        div {
          margin-bottom: 10px;
          font-size: 1.1em;
          cursor: pointer;
        }

        .twoSide {
          div {
            margin: 0px;
          }

          .smaller {
            font-size: smaller;
            color: rgba(0, 0, 0, 0.39);
          }
        }
      }
    }
  }

  hr {
    background-color: rgba(128, 128, 128, 0.253);
    border: none;
    height: 1px;
  }

  .bottom-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px;

    .right,
    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .left {
      svg {
        width: 80px;
        margin-right: 30px;
      }

      p {
        color: rgba(0, 0, 0, 0.377);
      }
    }

    .right {
      color: rgba(0, 0, 0, 0.63);
      display: flex;
      flex-direction: row;
      font-size: larger;
      gap: 1.8em;

      .languge,
      .curancy {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5em;
      }

      .group {
        display: flex;
        flex-direction: row;
        gap: 1em;
      }
      .social {
        margin-right: 1.5em;
        font-size: larger;
        display: flex;
        flex-direction: row;
        gap: 1em;


        .icon {
          position: relative;
          cursor: pointer;

          svg {
            z-index: 2;
          }

          &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #00000000;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &:hover::after {
            background-color: #00000017;
          }
        }
      }

      .accsaplty {
        font-size: larger;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 900px) {
  .top-side {
    flex-wrap: wrap;
  }
}

@media (min-width: 600px) {
  footer {
    .top-side {
      .head {
        h3 {
          svg {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  footer {
    transition: .9s;

    .contaner {
      padding-top: 20px;
    }

    .top-side {
      flex-wrap: unset !important;
      flex-direction: column !important;
      margin-bottom: 20px;

      .head {
        pointer-events: unset !important;
      }

      .catigory {
        transition: .9s;
        line-height: 1.3em;
        height: 1.3em;
        overflow: hidden;
        margin: 10px 10px !important;

        .head {
          h3 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
          }
        }
      }

      .open {
        height: 100% !important;
      }
    }
    .bottom-side {
      .left {
        flex-direction: column;
        margin-bottom: 0px;
        svg {
          margin: 0px;
        }
      }
      flex-direction: column;
      .right {
        gap: 0px;
        flex-direction: column;
        .social {
          margin: 0px;
        }
        .group {
          display: flex;
          flex-direction: row;
          gap: 2em;
        }
      }
    }
  }
}